.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width: 300px;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  justify-content: center;
  overflow: scroll;
}

.input {
  text-align: center;
  border-radius: 10px;
  border: 1px solid;
  width: 100%;
  padding: 10px;
  border-color: rgba(229, 231, 235, 1);
  -webkit-appearance: none;
}

.title {
  text-align: center;
}

.item {
  width: 100%;
}
