.button {
  background-color: #f5ff35;
  color: black;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin-top: 20px;
}

.button:disabled,
.button[disabled] {
  border: 1px solid rgb(28,28,30);
  background-color: rgb(28,28,30);
  color: #666666;
}

.button:hover:enabled {
  box-shadow: 7px 5px 56px -14px #C3D900;
  cursor: pointer;
}

.secondary {
  background-color: #ffffff;
  color: #383634;
  border: 1px solid;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-weight: 700;
}
